@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:global(body) {
    font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}

::-webkit-scrollbar:after {
    display: hidden;
}

::-webkit-scrollbar-thumb {
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    background-color: #e4e4e4;
}

::-webkit-scrollbar-track{
    background: #f4f4f4;
}


/* removed default field bg color when using autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}